@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to SynthPro</h1>
<p>Your ultimate destination for all things synthesizer and electronic music creation.</p>

<h1>Admin Panel</h1>
<div class="list-group">
    <a asp-controller="Synth" asp-action="List" class="list-group-item">Manage Synths</a>
    <a asp-controller="Synth Mage" asp-action="List" class="list-group-item">Manage Synth Mages</a>
    <a asp-controller="Patrons" asp-action="List" class="list-group-item">Manage Patrons</a>
    <a asp-controller="Blips" asp-action="List" class="list-group-item">Manage Blips</a>
    <a asp-controller="Future Tweakers" asp-action="List" class="list-group-item">Manage Future Tweakers</a>
</div>

<h1>Technicians</h1>
<div class="list-group">
    <a asp-controller="Support" asp-action="ListByTech" class="list-group-item">Update Support Requests</a>
</div>
